<footer class="footer">
  <div class="container">
    <div class="info">
      <div class="contact">
        <h3>Contato</h3>
        <p>E-mail: email@email.com</p>
        <p>Telefone: (xx) xxxx-xxxx</p>
      </div>
      <div class="links">
        <h3>Links Úteis</h3>
        <ul>
          <li><a href="#">Página Inicial</a></li>
          <li><a href="#">Sobre Nós</a></li>
          <li><a href="#">Serviços</a></li>
          <li><a href="#">Contato</a></li>
        </ul>
      </div>
    </div>
  </div>
  
</footer>
